<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- add name="TWRModelContainer" connectionString="metadata=res://*/TWRModel.csdl|res://*/TWRModel.ssdl|res://*/TWRModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=D:\Projects\TwoWordReviews\TWRDataAccess\bin\Debug\TWRDatabase.sdf&quot;" providerName="System.Data.EntityClient" / -->
  </connectionStrings>
</configuration>
