@model TwoWordReviews.Models.MainModel

@{
    ViewBag.Title = "AddReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddReview</h2>
<ul>
    
    @using (Html.BeginForm())
    {
        @Html.DropDownListFor(x => x.SelectedType,Model.SubjectTypes.Select(y => new SelectListItem(){Text = y,Value = Model.SubjectTypes.IndexOf(y).ToString()}),"What did you review?");
        
    }

    @{
        foreach (string s in Model.SubjectTypes)
        {
            <li>@s</li>
        }
    }
</ul>
