@using TWRDataAccess.Entities
@model TwoWordReviews.Models.MainModel

@*@{
    ViewBag.Title = "AddReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="row">
@using (Html.BeginForm("AddReview", "Home", FormMethod.Post, new Dictionary<string, object>() { { "class", "form-horizontal" } }))
{
    @Html.ValidationSummary()
    <div class="form-group col-lg-12 row">
        <div class="col-lg-5 col-10">
            @Html.DropDownListFor(x => x.SelectedType, Model.SubjectTypes.Select(y => new SelectListItem() { Text = y, Value = y }), "What did you review?",new Dictionary<string, object>(){{"class","form-control"}})
        </div>
    </div>        
    <div class="form-group row col-lg-12">
        <label for="Subject" class="col-lg-2 col-4 control-label">What are you reviewing?</label>
        <div class="col-lg-3 col-6">
            @Html.TextBoxFor(x => x.Subject,new Dictionary<string, object>(){{"class","form-control"}})
        </div>
    </div>
    <div class="form-group row col-lg-12">
        <label class="col-lg-2 col-4 control-label" for="TwoWordReview">Two word review</label>
        <div class="col-lg-3 col-6">
            @Html.TextBoxFor(x => x.TwoWordReview,new Dictionary<string, object>(){{"class","form-control"}})
        </div>
    </div>
    <div class="form-group col-lg-2 col-4 row">
        <input class="btn btn-primary" type="submit" value="Submit Review">
    </div>
}
</div>