@using TwoWordReviews.Models
@using TWRDataAccess.Entities
@model TwoWordReviews.Models.MainModel

@{
    ViewBag.Title = "Two Word Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Two Word Reviews</h2>
<div>@Html.Partial("AddReview",Model)</div>

@*@Html.ActionLink("Add Review","AddReview")*@
