@model dynamic

<div class="row col-12 col-lg-12">
<footer>
    <h3>Brought to you by <a href="http://3thoughtcreative.com">3Thought</a> and <a href="http://wbsimms.com">WBSimms</a></h3>
</footer>
</div>